// _right-panel.scss
@import 'variables';

.workExperience > ul {
    list-style-type: none;
    padding-left: 0;
}

.workExperience > ul > li {
    position: relative;
    margin: 0;
    padding: 0.5cm 0.5cm 0.5cm 0;
}

.workExperience > ul > li:before {
    background-color: #b8abab;
    width: 0.05cm;
    content: '';
    position: absolute;
    top: 0.1cm;
    bottom: -0.2cm;
    left: 0.05cm;
}

.workExperience > ul > li::after {
    content: '';
    position: absolute;
    background-color: blue;
    left: -0.09cm;
    top: 0;
    width: 0.35cm;
    height: 0.35cm;
}

.jobPosition {
    display: flex;
    justify-content: space-between;
}

.item {
    padding: $spacing-medium 0;
}

.item h2 {
    margin-top: 0;
}

.lastParagraphNoMarginBottom {
    margin-bottom: 0;
}

.workExperience > ul > li ul {
    padding-left: 0.5cm;
    list-style-type: disc;
}

.skill {
    display: flex;
    justify-content: space-between;
}
