@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #111;
  font-weight: 300;
  font-size: 1.2cm;
  transform: scale(1, 1.15);
  margin: 0.1cm 0;
  text-transform: uppercase;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin: 0.1cm 0;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.smallText,
.smallText span,
.smallText p,
.smallText a {
  font-family: "Source Sans Pro", sans-serif;
  text-align: justify;
  font-size: 0.35cm;
}

.upperCase {
  text-transform: uppercase;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(155, 212, 238);
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
}

.container {
  display: flex;
  width: 100%;
  height: 110%;
}

.leftPanel {
  width: 27%;
  background-color: #000000;
  padding: 0.7cm;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rightPanel {
  width: 73%;
  padding: 0.7cm;
}

.profile-image {
  width: 4cm;
  height: 4cm;
  border-radius: 50%;
  border: 0.15cm solid white;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1cm;
}

.leftPanel {
  color: white;
}
.leftPanel a {
  color: #bebebe;
  text-decoration: none;
  font-size: 0.38cm;
}
.leftPanel h2 {
  color: white;
}
.leftPanel .details {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.leftPanel .social-text {
  margin-left: 8px;
}
.leftPanel .bottomLineSeparator {
  border-bottom: 0.05cm solid white;
}
.leftPanel .yearsOfExperience {
  width: 1.6cm;
  display: flex;
  justify-content: center;
}
.leftPanel .alignleft {
  text-align: left !important;
  width: 1cm;
}
.leftPanel .alignright {
  text-align: right !important;
  width: 0.6cm;
  margin-right: 0.1cm;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.workExperience > ul {
  list-style-type: none;
  padding-left: 0;
}

.workExperience > ul > li {
  position: relative;
  margin: 0;
  padding: 0.5cm 0.5cm 0.5cm 0;
}

.workExperience > ul > li:before {
  background-color: #b8abab;
  width: 0.05cm;
  content: "";
  position: absolute;
  top: 0.1cm;
  bottom: -0.2cm;
  left: 0.05cm;
}

.workExperience > ul > li::after {
  content: "";
  position: absolute;
  background-color: blue;
  left: -0.09cm;
  top: 0;
  width: 0.35cm;
  height: 0.35cm;
}

.jobPosition {
  display: flex;
  justify-content: space-between;
}

.item {
  padding: 0.7cm 0;
}

.item h2 {
  margin-top: 0;
}

.lastParagraphNoMarginBottom {
  margin-bottom: 0;
}

.workExperience > ul > li ul {
  padding-left: 0.5cm;
  list-style-type: disc;
}

.skill {
  display: flex;
  justify-content: space-between;
}

@page {
  size: 21cm 29.7cm;
  padding: 0;
  margin: 0mm;
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
}

page[size=A4] {
  width: 21cm;
  height: 29.7cm;
}/*# sourceMappingURL=main.css.map */