// _fonts.scss
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

h1 {
    font-family: $font-roboto;
    font-weight: 700;
    color: $color-primary;
    font-weight: 300;
    font-size: $font-size-h1;
    transform: scale(1, 1.15);
    margin: $spacing-small 0;
    text-transform: uppercase;
}

h2 {
    font-family: $font-roboto;
    font-weight: 600;
    margin: $spacing-small 0;
}

h3 {
    font-family: $font-roboto;
    font-weight: 500;
}

.smallText, 
.smallText span, 
.smallText p, 
.smallText a {
    font-family: $font-source-sans;
    text-align: justify;
    font-size: $font-size-small;
}

.upperCase {
    text-transform: uppercase;
}
