// _layout.scss
body {
    font-family: $font-roboto;
    background: $color-background;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
}

.container {
    display: flex;
    width: 100%;
    height: 110%;
}

.leftPanel {
    width: 27%;
    background-color: $color-left-panel-bg;
    padding: $spacing-medium;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightPanel {
    width: 73%;
    padding: $spacing-medium;
}

.profile-image {
    width: 4cm;
    height: 4cm;
    border-radius: 50%;
    border: 0.15cm solid white;
    object-fit: cover;
    margin-bottom: 1cm;
}
